
html, body {
    background-color: #ece9e6;
    color: #333;
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0
}

h2 {
    font-family: Playfair Display,Georgia,Times New Roman,Times,serif;
    margin-left: 2em;
    margin-top: 1em;
}

#left-section {
    float: left;
    width: 70%;
}

#right-section {
    float: left;
    width: 30%;
    height: 100%;
}

#right-section span {
    float: right;
    margin-bottom: .25em;
}

#first-right p {
  margin-bottom: .2em;
}

#sources-table {
    width: 96%;
    margin-left: .25em;
    margin-top: 1.5em;
    border-top: 2px solid;
    font-size: 13.5px;
}

#sources-table tr {
    border-bottom: .5px solid #ddd;
    float: left;
    height: 1.75em;
}

.header {
  height: 2.5em !important;
}

.header-category {
  width: 10em;
}

.header-data {
  width: 4.5em;
  margin-left: 3.25em;
  margin-right: -3em;
}

.final-data {
  width: 4.5em;
  margin-left: 6em;
}

tr {
  width: 100%;
}

.source-colors {
  float: left;
  width: 13px;
  height: 14px;
}
  
.yellow {
  background: yellow;
}
  
.green {
  background: green;
}
  
.steelblue {
  background: steelblue;
}

.sandybrown {
  background: sandybrown;
}
  
.red {
  background: red;
}
  
.black {
  background: black;
}

.blue {
  background: #13b4ff;
}
  
.mediumpurple {
  background: mediumpurple;
}

.category {
  width: 13.5em;
  margin-left: .25em;
}

.value {
  width: 3.5em;
  margin-right: 2.25em;
  margin-bottom: .75em !important;
}

.last {
  width: 0;
  margin-right: 0;
}

.final-row {
  border-bottom: 2px solid !important;
  border-top: 2px solid;
}

.bold {
  font-weight: bold;
}

#sources-bar {
  width: 96%;
  margin-left: .25em;
  margin-top: 1.5em;
  font-size: 13.5px;
  display: block;
}

#sources-bar tr {
  border-bottom: .5px solid #ddd;
  float: left;
  height: 1.75em;
}

#sources-bar span {
  text-align: right;
  font-weight: bold;
  margin-right: 1em;
  margin-left: 2em;
}

.switch-field {
  margin-top: .5em;
  margin-left: 10.75em;
  display: flex;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #cd4a4a;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#pie-chart {
  display:none;
  margin-top: -3em;
  margin-left: 1.5em;
}